<!DOCTYPE html>
<html>

<head>
    <title>Listar Tarefa</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <script src="js/site.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script>
        $(document).ready(function () {
            listarTarefas();
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">TO-DO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="listaTarefas.html">Lista de tarefas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addTarefa.html">Adicionar tarefa</a>
                    </li>
                </ul>
        <form ng-bind="todolist.addTarefa()">
            <input type="test" ng-model="todolist" size="30"
            placeholder="Adicionar uma nova Tarefa ! ">
            <input class="btn-primary" type="submit" value="Adicionar">
        </form>
                   </div>
        </nav>
        <div class="container" id="containerListagem">
        <fieldset>
            <input type="radio" name="tTAR" <label form="tTAR"> Tarefa 1 </label></br>
            <input type="radio" name="tTAR" <label form="tTAR"> Tarefa 2</label></br>
            <input type="radio" name="tTAR" <label form="tTAR"> Tarefa 3 </label></br>
            <input type="radio" name="tTAR" <label form="tTAR"> Tarefa 4 </label></br>
            <input type="radio" name="tTAR" <label form="tTAR"> Tarefa 5 </label></br>
        </fieldset>

        </div>
        <span style="color: red;" id="erro_novo_nome_tarefa"></span>
    </div>
</body>

</html>
